# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## List Comprehensions <br>

In [11]:
a_list = ['apple', 'pear', 'banana', 'beet']

for i in a_list:
    print(i)

print()

for i in range(len(a_list)):
    print(i+1, a_list[i])
    
print()

for i, v in enumerate(a_list):
    print(i, v)
    

print()

for i in enumerate(a_list):
    print(i[0], i[1])

apple
pear
banana
beet

1 apple
2 pear
3 banana
4 beet

0 apple
1 pear
2 banana
3 beet

0 apple
1 pear
2 banana
3 beet

In [19]:
slug_list = []

for i in a_list:
    a_sentence = f'You are eating a {i}.'
    slug_list.append(a_sentence)
    
print(slug_list)

new_slug_list = []
for i in slug_list:
    slug = i.lower()
    new_slug_list.append(slug)

newer_slug_list = []
for i in new_slug_list:
    new_word = i.replace(' ', '-')
    newer_slug_list.append(new_word)
print(newer_slug_list)

['You are eating a apple.', 'You are eating a pear.', 'You are eating a banana.', 'You are eating a beet.']
['you-are-eating-a-apple.', 'you-are-eating-a-pear.', 'you-are-eating-a-banana.', 'you-are-eating-a-beet.']

In [21]:
for sentence in [f'You are eating a {fruit}' for fruit in a_list]:
    if 'pear' in sentence:
        pass
    else:
        print(sentence)

You are eating a apple
You are eating a banana
You are eating a beet

In [22]:
[f'You are eating a {fruit}' for fruit in a_list]

['You are eating a apple',
 'You are eating a pear',
 'You are eating a banana',
 'You are eating a beet']

In [118]:
import random

# [return statement for interation in list]

[random.randint(1, 10) for i in range(10)]

[10, 1, 9, 10, 1, 6, 8, 9, 7, 7]

In [30]:
help(random.randint(1, 10))

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [100]:
empty_list = []

for i in range(10):
    random_number = random.randint(1, 10)
    empty_list.append(random_number)
    
empty_list

[1, 4, 6, 4, 6, 9, 1, 1, 2, 1]

In [119]:
# Nest for loop

name1 = "Derek"
name2 = "Lucas"

for letter in name2:
    print(letter)

L
u
c
a
s

In [120]:
name_list = [name1, name2]

name_list

['Derek', 'Lucas']

In [31]:
import random

class Deck:
    def __init__(self):
        self.suits = ['Spade', 'Heart', 'Diamond', 'Club']
        self.ranks = [i for i in range(1, 14)]
        # self.cards = [(suit, rank) for suit in self.suits for rank in self.ranks]
        self.cards = []
        
    def create_cards(self):
        for suit in self.suits:
              for rank in self.ranks:
                    self.cards.append((suit, rank))
        
    def shuffle_deck(self):
        random.shuffle(self.cards)
        print('Deck is shuffled...')

deck = Deck()
deck.create_cards()
deck.cards
deck.shuffle_deck()
deck.cards

<Card: 1 of Spades>
<Card: 2 of Spades>
<Card: 3 of Spades>
<Card: 4 of Spades>
<Card: 5 of Spades>
<Card: 6 of Spades>
<Card: 7 of Spades>
<Card: 8 of Spades>
<Card: 9 of Spades>
<Card: 10 of Spades>
<Card: 11 of Spades>
<Card: 12 of Spades>
<Card: 13 of Spades>
<Card: 1 of Hearts>
<Card: 2 of Hearts>
<Card: 3 of Hearts>
<Card: 4 of Hearts>
<Card: 5 of Hearts>
<Card: 6 of Hearts>
<Card: 7 of Hearts>
<Card: 8 of Hearts>
<Card: 9 of Hearts>
<Card: 10 of Hearts>
<Card: 11 of Hearts>
<Card: 12 of Hearts>
<Card: 13 of Hearts>
<Card: 1 of Diamonds>
<Card: 2 of Diamonds>
<Card: 3 of Diamonds>
<Card: 4 of Diamonds>
<Card: 5 of Diamonds>
<Card: 6 of Diamonds>
<Card: 7 of Diamonds>
<Card: 8 of Diamonds>
<Card: 9 of Diamonds>
<Card: 10 of Diamonds>
<Card: 11 of Diamonds>
<Card: 12 of Diamonds>
<Card: 13 of Diamonds>
<Card: 1 of Clubs>
<Card: 2 of Clubs>
<Card: 3 of Clubs>
<Card: 4 of Clubs>
<Card: 5 of Clubs>
<Card: 6 of Clubs>
<Card: 7 of Clubs>
<Card: 8 of Clubs>
<Card: 9 of Clubs>
<Card: 10 of Clubs>
<Card: 11 of Clubs>
<Card: 12 of Clubs>
<Card: 13 of Clubs>

In [137]:
deck.cards

[('Heart', 8),
 ('Diamond', 3),
 ('Heart', 1),
 ('Heart', 9),
 ('Heart', 4),
 ('Spade', 12),
 ('Heart', 10),
 ('Heart', 3),
 ('Diamond', 2),
 ('Club', 5),
 ('Heart', 12),
 ('Heart', 6),
 ('Diamond', 7),
 ('Club', 3),
 ('Spade', 5),
 ('Club', 11),
 ('Heart', 5),
 ('Spade', 2),
 ('Spade', 3),
 ('Club', 13),
 ('Spade', 10),
 ('Diamond', 4),
 ('Spade', 8),
 ('Club', 1),
 ('Club', 2),
 ('Heart', 2),
 ('Diamond', 9),
 ('Heart', 11),
 ('Club', 4),
 ('Heart', 7),
 ('Club', 8),
 ('Spade', 4),
 ('Club', 12),
 ('Diamond', 6),
 ('Spade', 6),
 ('Diamond', 11),
 ('Club', 10),
 ('Diamond', 5),
 ('Club', 7),
 ('Spade', 9),
 ('Club', 6),
 ('Club', 9),
 ('Spade', 7),
 ('Diamond', 13),
 ('Spade', 1),
 ('Diamond', 1),
 ('Diamond', 8),
 ('Spade', 11),
 ('Diamond', 10),
 ('Heart', 13),
 ('Spade', 13),
 ('Diamond', 12)]

In [125]:
[name for name in name_list for letter in name]

['Derek',
 'Derek',
 'Derek',
 'Derek',
 'Derek',
 'Lucas',
 'Lucas',
 'Lucas',
 'Lucas',
 'Lucas']

## Ternary Operators <br>

In [150]:
# return statement if statement is True else if statement is False

name3 = 'Ripalz'

# "Hello, there" if name3 == 'Ripal' else 'Who are you?'
# "Hello, there" if name3 == 'Ripal' else None

In [159]:
import random

class Deck:
    def __init__(self):
        self.suits = ['Spade', 'Heart', 'Diamond', 'Club']
        self.ranks = [i for i in range(1, 14)]
        self.cards = [(suit, rank if rank != 1 else 'A') for suit in self.suits for rank in self.ranks if rank != 11]

    def shuffle_deck(self):
        random.shuffle(self.cards)
        print('Deck is shuffled...')

deck = Deck()
deck.cards

[('Spade', 'A'),
 ('Spade', 2),
 ('Spade', 3),
 ('Spade', 4),
 ('Spade', 5),
 ('Spade', 6),
 ('Spade', 7),
 ('Spade', 8),
 ('Spade', 9),
 ('Spade', 10),
 ('Spade', 12),
 ('Spade', 13),
 ('Heart', 'A'),
 ('Heart', 2),
 ('Heart', 3),
 ('Heart', 4),
 ('Heart', 5),
 ('Heart', 6),
 ('Heart', 7),
 ('Heart', 8),
 ('Heart', 9),
 ('Heart', 10),
 ('Heart', 12),
 ('Heart', 13),
 ('Diamond', 'A'),
 ('Diamond', 2),
 ('Diamond', 3),
 ('Diamond', 4),
 ('Diamond', 5),
 ('Diamond', 6),
 ('Diamond', 7),
 ('Diamond', 8),
 ('Diamond', 9),
 ('Diamond', 10),
 ('Diamond', 12),
 ('Diamond', 13),
 ('Club', 'A'),
 ('Club', 2),
 ('Club', 3),
 ('Club', 4),
 ('Club', 5),
 ('Club', 6),
 ('Club', 7),
 ('Club', 8),
 ('Club', 9),
 ('Club', 10),
 ('Club', 12),
 ('Club', 13)]

In [164]:
# Set Comprehension

new_list = [0, 2, 3, 4, 5, 9, 6, 66, 2, 2, 2, 2, 7, 8, 9]

{n for n in new_list if n%2==0}

{0, 2, 4, 6, 8, 66}

In [171]:
# Dictionary Comprehension
ratings = {
    'html': '9',
    'css': '6',
    'python': '10',
    'javascript': '8'
}

filtered_rating = {key:int(rank) for (key, rank) in ratings.items() if int(rank) > 6}

filtered_rating

{'html': 9, 'python': 10, 'javascript': 8}

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

### Example

In [144]:
def print_greeting(a_name):
    print(f'Greetings, {a_name}!')
    
print_greeting('Bob')

Greetings, Bob!

In [145]:
print_greeting_lambda = lambda a_name:f'Greetings, {a_name}!'

In [146]:
print_greeting_lambda("James")

'Greetings, James!'

### Syntax

In [172]:
# lambda x:x
def add(x, y):
    return x+y

add(45, 8)

53

In [174]:
add_lambda = lambda x,y:x+y
add_lambda(98, 2)

100

In [175]:
# Real world
# Using lambda functions inside of other functions
def my_func(f, num):
    return f(num)

func_a = lambda n:n**2
func_b = lambda n:n**3

In [179]:
my_func(func_a, 3)

9

In [200]:
def not_found():
    print("Sorry, you are not found in our systemm. Please contact the system administrator")

def found():
    print("Welcome! Nice to see you again!")

def greet(func, name="Gerald"):
    return func(name)

name = "Gerald"
greet(lambda n:n)

'Gerald'

In [190]:
import random

unsorted_list = [random.randint(1, 40) for _ in range(10)]
unsorted_list

[1, 6, 2, 6, 26, 37, 2, 30, 1, 27]

In [198]:
sorted(unsorted_list, key=lambda x:x%1!=0)

[1, 6, 2, 6, 26, 37, 2, 30, 1, 27]

In [205]:
import random

class Beehive:
    def __init__(self):
        self.population = random.randint(1, 100)
        
    def __repr__(self):
        return f'{self.population} Bees'
        
beehive_list = [Beehive() for _ in range(20)]
beehive_list

sorted(beehive_list, key=lambda x:x.population)

[7 Bees,
 8 Bees,
 10 Bees,
 16 Bees,
 22 Bees,
 24 Bees,
 31 Bees,
 48 Bees,
 49 Bees,
 52 Bees,
 54 Bees,
 58 Bees,
 58 Bees,
 60 Bees,
 74 Bees,
 79 Bees,
 80 Bees,
 81 Bees,
 95 Bees,
 95 Bees]

In [215]:
class Battery:
    def __init__(self, cells=6):
        self.cells = cells
        
    def __repr__(self):
        return f'<Battery: {self.cells}>'

class Car:
    _list = []
    
    def __init__(self, year, make, model, cells=6):
        self.year = year
        self.make = make
        self.model = model
        self.battery = Battery(cells)
        self._list.append(self)
        
    def __repr__(self):
        return f'<Car: {self.year} {self.make} {self.model}: {self.battery} Cells>'

c1 = Car(2020, 'Chevrolet', 'Tahoe', 12)
c2 = Car(2018, 'GMC', 'Terrain', 8)
c3 = Car(2020, 'Ford', 'Fusion')

In [216]:
Car._list

[<Car: 2020 Chevrolet Tahoe: <Battery: 12> Cells>,
 <Car: 2018 GMC Terrain: <Battery: 8> Cells>,
 <Car: 2020 Ford Fusion: <Battery: 6> Cells>]

In [220]:
sorted(Car._list, key=lambda c:c.battery.cells, reverse=True)

[<Car: 2020 Chevrolet Tahoe: <Battery: 12> Cells>,
 <Car: 2018 GMC Terrain: <Battery: 8> Cells>,
 <Car: 2020 Ford Fusion: <Battery: 6> Cells>]

In [226]:
sorted(Car._list, key=lambda c:c.make)

[<Car: 2020 Chevrolet Tahoe: <Battery: 12> Cells>,
 <Car: 2020 Ford Fusion: <Battery: 6> Cells>,
 <Car: 2018 GMC Terrain: <Battery: 8> Cells>]

In [225]:
sorted(Car._list, key=lambda c:c.year)

[<Car: 2018 GMC Terrain: <Battery: 8> Cells>,
 <Car: 2020 Chevrolet Tahoe: <Battery: 12> Cells>,
 <Car: 2020 Ford Fusion: <Battery: 6> Cells>]

In [224]:
sorted(Car._list, key=lambda c:c.model)

[<Car: 2020 Ford Fusion: <Battery: 6> Cells>,
 <Car: 2020 Chevrolet Tahoe: <Battery: 12> Cells>,
 <Car: 2018 GMC Terrain: <Battery: 8> Cells>]

### Return a lambda function from a function

In [1]:
def my_func(f, num):
    return f(num)

my_func(lambda x:x+10, 3)

13

In [3]:
# return lambda x: x+a+b+c

def my_other_func(a, b, c):
    return lambda x: x+a+b+c

In [6]:
f = my_other_func(1, 2, 3)(4)
f

10

### Generators

In [18]:
names_list = ["Ripal", 'Frank', "Ryan", "Joel"]

def do_something():
    for name in names_list:
        return name
    
do_something()

'Ripal'

In [20]:
def do_something_better():
    for name in names_list:
        yield name

for i in do_something_better():
    print(i)

Ripal
Frank
Ryan
Joel

In [9]:
import random

special_list = [random.randint(1, 50) for _ in range(10)]
special_list

[28, 31, 7, 49, 48, 26, 43, 6, 47, 37]

#### Generator Example

In [32]:
import random

class Deck:
    def __init__(self):
        self.suits = ['Spade', 'Heart', 'Diamond', 'Club']
        self.ranks = [i for i in range(1, 14)]
        self.cards = [Card(suit, rank) for suit in self.suits for rank in self.ranks]
        
    def shuffle_deck(self):
        random.shuffle(self.cards)
        print('Deck is shuffled...')
        
class Card:
    _list = []
    
    def __init__(self, suit, rank):
        self.suit = suit
        self.rank = rank
        self._list.append(self)
        
    def __repr__(self):
        return f'<Card: {self.rank} of {self.suit}s>'
    
    @classmethod
    def all(cls):
        for card in cls._list:
            yield card

deck = Deck()
for c in Card.all():
    print(c)

<Card: 1 of Spades>
<Card: 2 of Spades>
<Card: 3 of Spades>
<Card: 4 of Spades>
<Card: 5 of Spades>
<Card: 6 of Spades>
<Card: 7 of Spades>
<Card: 8 of Spades>
<Card: 9 of Spades>
<Card: 10 of Spades>
<Card: 11 of Spades>
<Card: 12 of Spades>
<Card: 13 of Spades>
<Card: 1 of Hearts>
<Card: 2 of Hearts>
<Card: 3 of Hearts>
<Card: 4 of Hearts>
<Card: 5 of Hearts>
<Card: 6 of Hearts>
<Card: 7 of Hearts>
<Card: 8 of Hearts>
<Card: 9 of Hearts>
<Card: 10 of Hearts>
<Card: 11 of Hearts>
<Card: 12 of Hearts>
<Card: 13 of Hearts>
<Card: 1 of Diamonds>
<Card: 2 of Diamonds>
<Card: 3 of Diamonds>
<Card: 4 of Diamonds>
<Card: 5 of Diamonds>
<Card: 6 of Diamonds>
<Card: 7 of Diamonds>
<Card: 8 of Diamonds>
<Card: 9 of Diamonds>
<Card: 10 of Diamonds>
<Card: 11 of Diamonds>
<Card: 12 of Diamonds>
<Card: 13 of Diamonds>
<Card: 1 of Clubs>
<Card: 2 of Clubs>
<Card: 3 of Clubs>
<Card: 4 of Clubs>
<Card: 5 of Clubs>
<Card: 6 of Clubs>
<Card: 7 of Clubs>
<Card: 8 of Clubs>
<Card: 9 of Clubs>
<Card: 10 of Clubs>
<Card: 11 of Clubs>
<Card: 12 of Clubs>
<Card: 13 of Clubs>

### Map

In [36]:
list(enumerate(special_list))

[(0, 28),
 (1, 31),
 (2, 7),
 (3, 49),
 (4, 48),
 (5, 26),
 (6, 43),
 (7, 6),
 (8, 47),
 (9, 37)]

In [15]:
# Perform an action/functionality for every iteration of a list

# map(func, a_list)

f = lambda x:x+2

list(map(f, special_list))

[30, 33, 9, 51, 50, 28, 45, 8, 49, 39]

In [13]:
# for i in map(f, special_list):
#     print(i)

30
33
9
51
50
28
45
8
49
39

### Filter

In [43]:
# Filtering out all objects/values from a list that match the criteria you're searching for

# filter(func, a_list)

def my_third_func(num):
    if num < 20:
        return True
    else:
        return False
    
my_third_func(special_list[2])

for i in special_list:
    print(my_third_func(i))

False
False
True
False
False
False
False
True
False
False

In [49]:
special_list

[28, 31, 7, 49, 48, 26, 43, 6, 47, 37]

In [51]:
f = lambda x: x+10 if x%2==0 else None

# map function always return a value for every iteration

list(map(f, special_list))

[38, None, None, None, 58, 36, None, 16, None, None]

In [52]:
list(filter(f, special_list))

[28, 48, 26, 6]

### Reduce

#### Used to be given to in Python2, but nobody used it, so the maintainers of Python
#### took it out of the box and put it into a package.

In [ ]:
# [
#     [1, 2, 3],
#     [4, 5, 6],
#     [7, 8, 9]
# ]

In [54]:
# np.array()

# PYTHON ARRAY = a list that hold the same datatypes
# PYTHON LIST = a list that hold any datatypes

In [58]:
special_list

[28, 31, 7, 49, 48, 26, 43, 6, 47, 37]

In [57]:
from statistics import mean

special_list

mean_value = mean(special_list)

mean_value

32.2

In [61]:
# Find all numbers in special_list that are greater than the average (mean_value)
list(filter(lambda x: x > mean_value, special_list))

[49, 48, 43, 47, 37]

In [62]:
special_list

[28, 31, 7, 49, 48, 26, 43, 6, 47, 37]

In [65]:
# Takes all values within a list and perform whatever mathematical operation you want on them

from functools import reduce

# reduce(func, a_list)

def my_reduce_func(x, y):
    return x+y

total = 0
for num in special_list:
    total += num
print(total)

322

In [68]:
reduce(lambda x,y:x*y, special_list)

166704651719424

### Recursion

In [69]:
# When to use a for-loop vs recusrion

# Recursion - recursing/iterating over something by executing a function back onto itself; If you have a complex set of functionality, 
# it may not be best to use recursion

# For-loop - if you have a complex set of functionality, it may be best to use a for-loop

In [ ]:
|
|
|
|
|
|
|

In [ ]:
1: 1
2: 1
3: 2
4: 3
5: 5
6: 8
7: 13
1500: 129859890026251926049613529-1328049136-629049

In [ ]:
# Recursion - recursing/iterating over something

In [ ]:
[28, 31, 7, 49, 48, 26, 43, 6, 47, 37]
[59, 7, 49, 48, 26, 43, 6, 47, 37]
[68, 49, 48, 26, 43, 6, 47, 37]
[322]

#### Recursion Examples with Factorials

In [77]:
# Syntax: 5!
# 5*4*3*2*1
number = 5

def factorial(num):
    # base case/a condition for your function to stop running
    if num < 1:
        return 1
    else:
        return factorial(num - 1) * num
    
factorial(5)

120

### Decorators

In [93]:
# Useful for wrapping function, or adding more functionality to an already existing function
# ========================
# 'Greetings, Ripal'
# ========================

def wrap(func):
    def decorate(name):
        print('='*30)
        func(name)
        print('='*30)
    return decorate

@wrap
def print_greeting(name):
    print(f'Greetings, {name}')
    
print_greeting('Ripal')

==============================
Greetings, Ripal
==============================

In [94]:
@wrap
def do_something_a_little_better(stuff):
    print('This works!')
    
do_something_a_little_better('stuff')

==============================
This works!
==============================

In [95]:
my_text = wrap(print_greeting)
my_text('Michael')

==============================
==============================
Greetings, Michael
==============================
==============================

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

In [3]:
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
# = [Argentina, San Diego, Boston, New York]

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

In [43]:
# .sort(key=)
authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

In [44]:
places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

### Exercise #4 <br>
<p>Write a recursive function to perform the fibonacci sequence up to the number passed in.</p>

In [1]:
def recur_fibo(n):  
   if n <= 1:  
       return n  
   else:  
       return(recur_fibo(n-1) + recur_fibo(n-2))  
 
nterms = int(input("How many terms? "))  

if nterms <= 0:  
   print("Plese enter a positive integer")  
else:  
   print("Fibonacci sequence:")  
   for i in range(nterms):  
       print(recur_fibo(i))

How many terms? 5
Fibonacci sequence:
0
1
1
2
3